* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  font-size: 14px;
  background-color: #f4f4f4; /* 更柔和的灰白色背景 */
  position: relative;
  --card-padding: 2rem;
  --card-width: 768px;
  --file-icon-display: block;
  --file-list-padding: 1rem;
  --log-box-padding: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #121212;
  }
}

@media (max-width: 320px) {
  :root {
    --file-icon-display: none;
    --file-list-padding: 0;
    --log-box-padding: 0;
  }
}
@media (max-width: 768px) {
  :root {
    font-size: 12px;
    --card-padding: 1.5rem;
    --card-width: 90vw;
  }
}

@media (min-width: 1600px) {
  :root {
    font-size: 16px;
  }
}
